*{margin:0;padding:0;box-sizing:border-box;}

body{
    background:#0a0a0a;
    color:#fff;
    font-family:Arial;
}

/* HEADER */
header{
    background:#111;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header span{color:red;}

nav a{
    color:#fff;
    margin-left:20px;
    text-decoration:none;
}

nav a:hover{color:red;}

main{
    width:100%;
    max-width:1400px;
    margin:0 auto;
    padding:30px;
}

/* FORM */
.form-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:15px;
    width:100%;
}

.form-grid input,
.form-grid select{
    width:100%;
    height:45px;
    padding:10px;
    background:#111;
    border:1px solid #333;
    color:#fff;
    border-radius:6px;
}

.form-grid select{
    appearance:none;
}

/* BUTTON */
.btn{
    background:red;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

/* TABLE */
table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th{
    background:#111;
    padding:12px;
    border-bottom:2px solid red;
}

td{
    padding:10px;
    border-bottom:1px solid #333;
}

tr:hover{background:#1a1a1a;}

/* SERVIÇOS */
.servico{
    display:grid;
    grid-template-columns: 2fr 1fr 60px;
    gap:10px;
    margin-bottom:10px;
    width:100%;
}

.servico input{
    flex:1;
}

.servico button{
    background:red;
    border:none;
    color:#fff;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}

.servico button:hover{
    background:#c40000;
}

/* TOTAL */
#total{
    width:200px;
    padding:10px;
    background:#111;
    border:1px solid red;
    color:#fff;
    border-radius:6px;
}

.btn-delete{
    background:#ff0000;
    padding:6px 10px;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    font-size:12px;
}

.btn-delete:hover{
    background:#c40000;
}

/* CONTAINER CENTRAL */
.container{
    max-width:1200px;
    margin:auto;
}

/* SERVIÇOS CORRIGIDO */
.servico{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

/* INPUTS */
.servico input{
    flex:1;
    min-width:0;
    height:40px;
    padding:10px;
    background:#111;
    border:1px solid #333;
    color:#fff;
    border-radius:6px;
}

/* BOTÃO */
.servico button{
    width:50px;
    height:40px;
    background:red;
    border:none;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
}

.servico button:hover{
    background:#c40000;
}

/* LINKS NÃO FICAREM ROXOS */
a{
    color:#fff;
    text-decoration:none;
}

/* DASHBOARD CARDS */
.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.card-link{
    text-decoration:none;
    color:#fff;
}

.card{
    background:#111;
    padding:30px;
    width:250px;
    border-radius:10px;
    border-left:4px solid red;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
    background:#1a1a1a;
}

main{
    max-width:none !important;
    width:100% !important;
}